In [122]:
import pandas as pd

In [123]:
df = pd.read_csv (r'new12.csv')

In [124]:
# names = df.iloc[:,[6]]
# df["newname"] = ""
# df['title'] = ""

# df.head()

In [125]:
#names = ["Hon’ble Mr. Justice Munishwar Nath Bhandari","Hon’ble Mr. Justice Sanjay Yadav"]
df["Name"].fillna("", inplace = True)

In [126]:
lst = [
       "HONOURABLE SRI JUSTICE",
       "HON'BLE THE CHIEF JUSTICE",
    "Former Acting Chief Justice",
    "HON'BLE SRI JUSTICE",
    "Hon'ble Chief",
        "Hon’ble Mr. Justice",
    "Hon'ble The Chief",
    "Hon’ble Ms. Justice",
    "HON'BLE SHRI JUSTICE",
    "HON'BLE SMT JUSTICE",
    "Mr. Justice Hon'Ble",
    "Hon’ble Mrs. Chief",
       "HON'BLE MR. JUSTICE",
    "Hon’ble Chief Justice",
       "The Hon'ble Justice",
    "HON'BLE SHRI JUSTICE",
           "Hon'ble Mr.",
               "Hon'ble Mr",
       "Hon’ble Shri",
    "Hon'ble Thiru.",
    "Hon'ble Tmt.",
    "Hon'ble RMT.",
    "Justice Hon’ble",
       "Ms. Justice",
    "Hon’ble Mr. Justice",
       "Hon’ble Mrs. Justice",
       "Hon’ble Ms. Justice",
       "Hon’ble Dr. Justice",
    "The Hon’ble Justice",
    "CHIEF JUSTICE",
       "Hon’ble Mrs.",
       "Hon’ble Dr.",
    "Mr. Justice Hon'Ble",

       "Hon’ble Sir",
       "Hon'ble",
       
    "Justice Hon’ble",
       
       "Sri Justice",
       "Ms. Justice",
       "Mr. Justice",
       
       
       
       "The  Justice",
       
       "The  Justice",
    "Justice Dr.",
       
       
       "Justice Mr.",
       "Chief Justice",
       
       "Justice",
       "HONOURABLE THE",
    "Sir",
    "Dr.","SIR","MR.","Mr.","Smt.","Hon'ble Former Mr.","Former Acting Chief Justice Mr.","Shri","Mrs","Mrs."
    "Justice Hon’ble Mr","Justice Hon’ble (L)","Hon'ble Shri","Hon'ble Smt.","Justice Hon’ble","Justice Hon’ble Mr.",
    "Hon'ble Mrs.","Hon'ble Miss",
      
      ]

In [127]:
def our_function(name1):
    for title in lst:
        name1 = name1.replace(u'\xa0', u' ')
        name1 = name1.replace(title,"")
    return name1

def our_function2(name1):
    for title in lst:
        name1 = name1.replace(u'\xa0', u' ')
        if title in name1:            
            return title

        
    
df['newname1'] = df['Name'].apply(our_function)
df['title1'] = df['Name'].apply(our_function2)
# df.head(10)
# mid = df['title1']
# df.drop(labels=['title1'], axis=1, inplace = True)
# df.insert(7, 'title1', mid)
# mid = df['newname1']
# df.drop(labels=['newname1'], axis=1, inplace = True)
# df.insert(8, 'newname1', mid)


df.to_csv("final.csv")