In [2]:
import pandas as pd

In [5]:
l = [x**2 for x in range(1,10)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
s = pd.Series(l,name = 'Squares')
s

0     1
1     4
2     9
3    16
4    25
5    36
6    49
7    64
8    81
Name: Squares, dtype: int64

In [11]:
s.ndim

1

In [12]:
s.size

9

In [13]:
s.shape

(9,)

In [15]:
s.dtype

dtype('int64')

In [17]:
dic={'Eno':[100,101,102,103],'Ename':['Ram','Shyam','Rohit','Manav'],'Esal':[100.00,100.00,100.00,100.00]}
dic

{'Eno': [100, 101, 102, 103],
 'Ename': ['Ram', 'Shyam', 'Rohit', 'Manav'],
 'Esal': [100.0, 100.0, 100.0, 100.0]}

In [59]:
df = pd.DataFrame(dic,index=['r1','r2','r3','r4'])
df

    Eno  Ename   Esal
r1  100    Ram  100.0
r2  101  Shyam  100.0
r3  102  Rohit  100.0
r4  103  Manav  100.0

In [60]:
df[['Eno','Ename']]
type(df)

pandas.core.frame.DataFrame

In [24]:
c = df['Eno']
type(c)

pandas.core.series.Series

In [26]:
df.ndim

2

In [27]:
df.size

12

In [28]:
df.shape

(4, 3)

In [33]:
df.dtypes

Eno        int64
Ename     object
Esal     float64
dtype: object

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
Eno      4 non-null int64
Ename    4 non-null object
Esal     4 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 176.0+ bytes

In [35]:
df.items

<bound method DataFrame.iteritems of    Eno  Ename   Esal
0  100    Ram  100.0
1  101  Shyam  100.0
2  102  Rohit  100.0
3  103  Manav  100.0>

In [39]:
df.describe()

              Eno   Esal
count    4.000000    4.0
mean   101.500000  100.0
std      1.290994    0.0
min    100.000000  100.0
25%    100.750000  100.0
50%    101.500000  100.0
75%    102.250000  100.0
max    103.000000  100.0

In [40]:
df['Esal'].min()

100.0

In [41]:
df['Esal'].mean()

100.0

In [42]:
df['Esal'].max()

100.0

In [70]:
df.loc['r1':'r2','Ename':'Esal']

    Ename   Esal
r1    Ram  100.0
r2  Shyam  100.0

In [75]:
df.iloc[0:2,1:2]

    Ename
r1    Ram
r2  Shyam

In [103]:
iris = pd.read_csv('iris.csv')
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
6             4.6          3.4           1.4          0.3     Setosa
7             5.0          3.4           1.5          0.2     Setosa
8             4.4          2.9           1.4          0.2     Setosa
9             4.9          3.1           1.5          0.1     Setosa
10            5.4          3.7           1.5          0.2     Setosa
11            4.8          3.4           1.6          0.2     Setosa
12            4.8          3.0           1.4          0.1     Setosa
13            4.3          3.0           1.1          0.1     Setosa
14            5.8          4.0           1.2          0.2     Setosa
15            5.7          4.4           1.5          0.4     Setosa
16            5.4          3.9           1.3          0.4     Setosa
17            5.1          3.5           1.4          0.3     Setosa
18            5.7          3.8           1.7          0.3     Setosa
19            5.1          3.8           1.5          0.3     Setosa
20            5.4          3.4           1.7          0.2     Setosa
21            5.1          3.7           1.5          0.4     Setosa
22            4.6          3.6           1.0          0.2     Setosa
23            5.1          3.3           1.7          0.5     Setosa
24            4.8          3.4           1.9          0.2     Setosa
25            5.0          3.0           1.6          0.2     Setosa
26            5.0          3.4           1.6          0.4     Setosa
27            5.2          3.5           1.5          0.2     Setosa
28            5.2          3.4           1.4          0.2     Setosa
29            4.7          3.2           1.6          0.2     Setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  Virginica
121           5.6          2.8           4.9          2.0  Virginica
122           7.7          2.8           6.7          2.0  Virginica
123           6.3          2.7           4.9          1.8  Virginica
124           6.7          3.3           5.7          2.1  Virginica
125           7.2          3.2           6.0          1.8  Virginica
126           6.2          2.8           4.8          1.8  Virginica
127           6.1          3.0           4.9          1.8  Virginica
128           6.4          2.8           5.6          2.1  Virginica
129           7.2          3.0           5.8          1.6  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
132           6.4          2.8           5.6          2.2  Virginica
133           6.3          2.8           5.1          1.5  Virginica
134           6.1          2.6           5.6          1.4  Virginica
135           7.7          3.0           6.1          2.3  Virginica
136           6.3          3.4           5.6          2.4  Virginica
137           6.4          3.1           5.5          1.8  Virginica
138           6.0          3.0           4.8          1.8  Virginica
139           6.9          3.1           5.4          2.1  Virginica
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [82]:
iris.info

<bound method DataFrame.info of      sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
6             4.6          3.4           1.4          0.3     Setosa
7             5.0          3.4           1.5          0.2     Setosa
8             4.4          2.9           1.4          0.2     Setosa
9             4.9          3.1           1.5          0.1     Setosa
10            5.4          3.7           1.5          0.2     Setosa
11            4.8          3.4           1.6          0.2     Setosa
12            4.8          3.0           1.4          0.1     Setosa
13            4.3          3.0           1.1          0.1     Setosa
14            5.8          4.0           1.2          0.2     Setosa
15            5.7          4.4           1.5          0.4     Setosa
16            5.4          3.9           1.3          0.4     Setosa
17            5.1          3.5           1.4          0.3     Setosa
18            5.7          3.8           1.7          0.3     Setosa
19            5.1          3.8           1.5          0.3     Setosa
20            5.4          3.4           1.7          0.2     Setosa
21            5.1          3.7           1.5          0.4     Setosa
22            4.6          3.6           1.0          0.2     Setosa
23            5.1          3.3           1.7          0.5     Setosa
24            4.8          3.4           1.9          0.2     Setosa
25            5.0          3.0           1.6          0.2     Setosa
26            5.0          3.4           1.6          0.4     Setosa
27            5.2          3.5           1.5          0.2     Setosa
28            5.2          3.4           1.4          0.2     Setosa
29            4.7          3.2           1.6          0.2     Setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  Virginica
121           5.6          2.8           4.9          2.0  Virginica
122           7.7          2.8           6.7          2.0  Virginica
123           6.3          2.7           4.9          1.8  Virginica
124           6.7          3.3           5.7          2.1  Virginica
125           7.2          3.2           6.0          1.8  Virginica
126           6.2          2.8           4.8          1.8  Virginica
127           6.1          3.0           4.9          1.8  Virginica
128           6.4          2.8           5.6          2.1  Virginica
129           7.2          3.0           5.8          1.6  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
132           6.4          2.8           5.6          2.2  Virginica
133           6.3          2.8           5.1          1.5  Virginica
134           6.1          2.6           5.6          1.4  Virginica
135           7.7          3.0           6.1          2.3  Virginica
136           6.3          3.4           5.6          2.4  Virginica
137           6.4          3.1           5.5          1.8  Virginica
138           6.0          3.0           4.8          1.8  Virginica
139           6.9          3.1           5.4          2.1  Virginica
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]>

In [84]:
iris.head(10)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

In [85]:
iris.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [89]:
iris['sepal.length']>5

0       True
1      False
2      False
3      False
4      False
5       True
6      False
7      False
8      False
9      False
10      True
11     False
12     False
13     False
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22     False
23      True
24     False
25     False
26     False
27      True
28      True
29     False
       ...
120     True
121     True
122     True
123     True
124     True
125     True
126     True
127     True
128     True
129     True
130     True
131     True
132     True
133     True
134     True
135     True
136     True
137     True
138     True
139     True
140     True
141     True
142     True
143     True
144     True
145     True
146     True
147     True
148     True
149     True
Name: sepal.length, Length: 150, dtype: bool

In [106]:
iris[iris['sepal.length']>5]['sepal.length']=1
iris

/home/anaconda/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
6             4.6          3.4           1.4          0.3     Setosa
7             5.0          3.4           1.5          0.2     Setosa
8             4.4          2.9           1.4          0.2     Setosa
9             4.9          3.1           1.5          0.1     Setosa
10            5.4          3.7           1.5          0.2     Setosa
11            4.8          3.4           1.6          0.2     Setosa
12            4.8          3.0           1.4          0.1     Setosa
13            4.3          3.0           1.1          0.1     Setosa
14            5.8          4.0           1.2          0.2     Setosa
15            5.7          4.4           1.5          0.4     Setosa
16            5.4          3.9           1.3          0.4     Setosa
17            5.1          3.5           1.4          0.3     Setosa
18            5.7          3.8           1.7          0.3     Setosa
19            5.1          3.8           1.5          0.3     Setosa
20            5.4          3.4           1.7          0.2     Setosa
21            5.1          3.7           1.5          0.4     Setosa
22            4.6          3.6           1.0          0.2     Setosa
23            5.1          3.3           1.7          0.5     Setosa
24            4.8          3.4           1.9          0.2     Setosa
25            5.0          3.0           1.6          0.2     Setosa
26            5.0          3.4           1.6          0.4     Setosa
27            5.2          3.5           1.5          0.2     Setosa
28            5.2          3.4           1.4          0.2     Setosa
29            4.7          3.2           1.6          0.2     Setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  Virginica
121           5.6          2.8           4.9          2.0  Virginica
122           7.7          2.8           6.7          2.0  Virginica
123           6.3          2.7           4.9          1.8  Virginica
124           6.7          3.3           5.7          2.1  Virginica
125           7.2          3.2           6.0          1.8  Virginica
126           6.2          2.8           4.8          1.8  Virginica
127           6.1          3.0           4.9          1.8  Virginica
128           6.4          2.8           5.6          2.1  Virginica
129           7.2          3.0           5.8          1.6  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
132           6.4          2.8           5.6          2.2  Virginica
133           6.3          2.8           5.1          1.5  Virginica
134           6.1          2.6           5.6          1.4  Virginica
135           7.7          3.0           6.1          2.3  Virginica
136           6.3          3.4           5.6          2.4  Virginica
137           6.4          3.1           5.5          1.8  Virginica
138           6.0          3.0           4.8          1.8  Virginica
139           6.9          3.1           5.4          2.1  Virginica
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [120]:
iris = pd.read_csv('iris.csv',skiprows=3,names=['a','b','c','d','e'])
iris

       a    b    c    d          e
0    5.1  3.5  1.4  0.2     Setosa
1    4.9  3.0  1.4  0.2     Setosa
2    4.7  3.2  1.3  0.2     Setosa
3    4.6  3.1  1.5  0.2     Setosa
4    5.0  3.6  1.4  0.2     Setosa
5    5.4  3.9  1.7  0.4     Setosa
6    4.6  3.4  1.4  0.3     Setosa
7    5.0  3.4  1.5  0.2     Setosa
8    4.4  2.9  1.4  0.2     Setosa
9    4.9  3.1  1.5  0.1     Setosa
10   5.4  3.7  1.5  0.2     Setosa
11   4.8  3.4  1.6  0.2     Setosa
12   4.8  3.0  1.4  0.1     Setosa
13   4.3  3.0  1.1  0.1     Setosa
14   5.8  4.0  1.2  0.2     Setosa
15   5.7  4.4  1.5  0.4     Setosa
16   5.4  3.9  1.3  0.4     Setosa
17   5.1  3.5  1.4  0.3     Setosa
18   5.7  3.8  1.7  0.3     Setosa
19   5.1  3.8  1.5  0.3     Setosa
20   5.4  3.4  1.7  0.2     Setosa
21   5.1  3.7  1.5  0.4     Setosa
22   4.6  3.6  1.0  0.2     Setosa
23   5.1  3.3  1.7  0.5     Setosa
24   4.8  3.4  1.9  0.2     Setosa
25   5.0  3.0  1.6  0.2     Setosa
26   5.0  3.4  1.6  0.4     Setosa
27   5.2  3.5  1.5  0.2     Setosa
28   5.2  3.4  1.4  0.2     Setosa
29   4.7  3.2  1.6  0.2     Setosa
..   ...  ...  ...  ...        ...
120  6.9  3.2  5.7  2.3  Virginica
121  5.6  2.8  4.9  2.0  Virginica
122  7.7  2.8  6.7  2.0  Virginica
123  6.3  2.7  4.9  1.8  Virginica
124  6.7  3.3  5.7  2.1  Virginica
125  7.2  3.2  6.0  1.8  Virginica
126  6.2  2.8  4.8  1.8  Virginica
127  6.1  3.0  4.9  1.8  Virginica
128  6.4  2.8  5.6  2.1  Virginica
129  7.2  3.0  5.8  1.6  Virginica
130  7.4  2.8  6.1  1.9  Virginica
131  7.9  3.8  6.4  2.0  Virginica
132  6.4  2.8  5.6  2.2  Virginica
133  6.3  2.8  5.1  1.5  Virginica
134  6.1  2.6  5.6  1.4  Virginica
135  7.7  3.0  6.1  2.3  Virginica
136  6.3  3.4  5.6  2.4  Virginica
137  6.4  3.1  5.5  1.8  Virginica
138  6.0  3.0  4.8  1.8  Virginica
139  6.9  3.1  5.4  2.1  Virginica
140  6.7  3.1  5.6  2.4  Virginica
141  6.9  3.1  5.1  2.3  Virginica
142  5.8  2.7  5.1  1.9  Virginica
143  6.8  3.2  5.9  2.3  Virginica
144  6.7  3.3  5.7  2.5  Virginica
145  6.7  3.0  5.2  2.3  Virginica
146  6.3  2.5  5.0  1.9  Virginica
147  6.5  3.0  5.2  2.0  Virginica
148  6.2  3.4  5.4  2.3  Virginica
149  5.9  3.0  5.1  1.8  Virginica

[150 rows x 5 columns]